.catalog-filter {
  padding: 15px;
  width: 100%;
  background-color: #d6effb;
}
.catalog-filter-row {
  padding: 15px;
}
.catalog-filter-header {
  margin-right: 5px;
  color: #000;
}
.catalog-filter-button {
  display: none;
}
.catalog-filter-list {
  display: contents;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-filter-item {
  margin-bottom: 6px;
  margin-right: 3px;
}
.catalog-filter-link {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  color: #6c8a9b;
  background-color: #fff;
  border: 1px solid #bce3fc;
  border-radius: 3px;
  cursor: pointer;
}
.dropdown-toggle::after {
  margin-right: 5px;
}
.checkbox {
  display: initial;
  margin-bottom: 0;
  margin-right: 3px;
}
.catalog-filter-input {
  vertical-align: middle;
}
.modal-menu-list {
  width: 500px;
}
.modal-menu-filter-item {
  display: inline-flex;
}
.menu {
  background-color: #f4fbfe;
}
@media(max-width: 768px) {
  .catalog-filter-button {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
  }

  .catalog-filter {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 40%;
    background-color: #f4fbfe;
  }

  .catalog-filter-header {
    width: 100%;
  }
  .catalog-filter-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
  }
  .catalog-filter-item {
    display: flex;
    flex-direction: row;
  }
  .catalog-filter-link {
    padding: 12px 25px 12px 10px;
    width: 60%;
  }
  .dropdown-toggle::after {
    transform: rotate(270deg);
  }
}


